# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Build artifacts
build/
dist/
*.egg-info/

# Virtual environments
.venv/
env/
venv/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

.pypirc
pyxact/**/*.c